.pattern {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    &__image {
        position: absolute;
        top: -50px;
        left: 0;
        display: block;
        width: calc(100% + 10px);
        height: calc(100% + 100px);
        background-image: url('/assets/pattern.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
