/* Devices */

$small: 720px;
$s-tablet: 920px;
$tablet: 1280px;
$medium: 1440px;
$large: 99999px;

/* Colors */

$c-grey: #878791;
$c-black: #222326;
$c-blue: #161631;
$c-blue-d: #0d0d23;
$c-blue-darkest: #13132b;
$c-sea-light: #77a0ba;
$c-sea-dark: #01426a;
$c-gold: #f5b142;
$c-gold-light: #f1e0c4;
$c-red: #ff2e2e;

/* Font */

$font-family: 'GothamPro', sans-serif;

/* Size */

$footer-h: 150px;
$col: 6.2rem;
$col-px: 62px;
$container: 123.6rem;
$container-px: 1236px;

/* Easing */

$easing: cubic-bezier(.165, .84, .44, 1);

/* Adds */

$childrenSet: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20);

/* Animations */

@keyframes ida {

    0% {
        fill: $c-gold-light;
    }

    25% {
        fill: $c-gold;
    }

    50% {
        fill: $c-gold-light;
    }

    75% {
        fill: $c-gold-light;
    }

    100% {
        fill: $c-gold-light;
    }
}
