.project-marker {
    position: absolute;

    &:hover {

        .project-marker__address {
            opacity: 1;
        }
    }

    &__icn {
        position: absolute;
        top: -16px;
        left: 0;
        display: block;
        width: 52px;
        transform: translate3d(-50%, -100%, 0);

        img {
            display: block;
            width: 100%;
        }
    }

    &__dot {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $c-gold;
    }

    &__address {
        position: absolute;
        top: 18px;
        left: 0;
        width: $col * 3;
        font-size: 16px;
        line-height: 1.4;
        color: $c-gold;
        opacity: 0;
        pointer-events: none;
        transition: all .3s $easing;
    }
}

.infra-popup {
    padding: 6px 12px;
    background-color: $c-blue-d;
    text-align: center;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 300;
    color: white;
    transform: translate3d(0, -20px, 0);
}
